#// clang-format off

If:
    PathMatch: [src/cbuild/.*]
CompileFlags:
    CompilationDatabase: build/artifacts/cbuild/

---

If:
    PathMatch: [src/core/.*]
CompileFlags:
    CompilationDatabase: build/artifacts/core/
